<nav style="position:fixed;left:0px;top:-15px;width:100vw">
    <ul style="display:flex;flex-direction:row;gap:5rem;justify-content:center;align-content:center;list-style-type:none;background-color:white">
        <li style="display:block;padding:1rem 2.5rem;background-color:lightgreen"><NavLink style="color:white" href="/">Main</NavLink></li>
        <li style="display:block;padding:1rem 2.5rem;background-color:lightgreen"><NavLink style="color:white" href="/home">Home</NavLink></li>
        <li style="display:block;padding:1rem 2.5rem;background-color:lightgreen"><NavLink style="color:white" href="/about">About</NavLink></li>
    </ul>
</nav>

@code {

}
