@page "/"

<div style="display:block;position:absolute;top:100px">
    <div>
        <h1>
            Frontend Web Developer
        </h1>
    </div>
    <div>
        <h2></h2>
        <p></p>
    </div>
</div>
